<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
   <body>
	 <form method="POST">
     <input type="text" name="sql" style="font-size:20px" size=100>
     <input type="submit" id="query">
	 <h3>Sample: select * from ntuhs.salary_gender </h3>
	 <h3>Sample: select * from ntuhs.salary_gender where age > 60 </h3>
	 <h3>Note: if fetching no data, show button will be disable  </h3>
     </form>
	 <button type='button' id ='retrieve' disabled>show</button>
     <img src="" id="out_img" />
   </body>
  <script>
    $(document).ready(function() {	
	
	   $("#query").click(function () {
		   $('#query').prop('disabled', true);
		   $("#out_img").hide();
		   
	   });
	   
       $('#retrieve').click(function(){
           $.ajax({
           url: "{{ url_for ('get_img') }}",
           type: "GET",
           success: function(response) {
		       $("#out_img").show();
		       $("#out_img").removeAttr("src").attr("src", '/static/' + response);
               
          },
          error: function(xhr) {
         }
         });
       });
    });
	
	$(function () {
		setInterval(function () {
			$.ajax({
			url: "{{ url_for ('get_ready_img') }}",
			type: "GET",
			success: function(response) {
				var isTrueSet = (response == 'true');
				$('#retrieve').prop('disabled', isTrueSet);
				$('#query').prop('disabled', false);
			},
			error: function(xhr) {
			}
			});	
		},3000);
	});
  </script>
</html>
